<header id="navbar" class="navbar-unscrolled">
    <div class="navbar-item">
        <a [routerLink]="['/']">
            <img src="assets/images/logo/3502272.png" id="logo">
        </a>        
    </div>
    <div class="navbar-item" id="inicio"><a [routerLink]="['/']">Inicio</a></div>
    <div class="navbar-item">Guía de TV</div>
    <div class="navbar-item">Películas</div>
    <div class="navbar-item">Series</div>
    <div class="navbar-item">Kids</div>
    <div class="navbar-item" id="search"><i class="fas fa-search"></i></div>
    <div class="navbar-item" id="user"><i class="fas fa-user-circle"></i></div>
</header>

