
  .swiper-container {
    width: 100%;
    height: 700px;
  }
  .swiper-slide {
    //background-color: gainsboro;
    background-position: center;
    background-size: cover;
/*     transition: 250ms all;

    &:hover, :focus, :active {
        transform: scale(1.2);
        z-index: 1;
    } */
  }

  .hide {
    display: none;
  }