<div #thumbnail (mouseenter)="onHover()" (mouseleave)="onMouseLeave()" id="thumbnail" *ngIf="video"
[ngStyle]="{'background-image': 'url(' + img + ')'}" >
    <div *ngIf="isHovered" class="lautaro-container">
        <span id="thumbnail-title">{{video.title}}</span>
        <div id="thumbnail-play-button" (click)="reproducirVideo()"><i class="fas fa-play-circle fa-5x"></i></div>
        <div id="thumbnail-duration-views">Duración: {{video.duration | duration}} | Vistas: {{video.views_total}}</div>
    </div>
</div>
<app-loading *ngIf="!video"></app-loading>
        