@media only screen and (max-width: 800px) {
    .lautaro-container {
        font-size: xx-small;
    }
}

#thumbnail {
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;

    & .lautaro-container {
        
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        background: rgb(26,26,26);
        background: linear-gradient(0deg, rgba(26,26,26,1) 0%, rgba(26,26,26,0) 100%);
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        & #thumbnail-play-button {
            color: #57DFB7;
            text-align: center;
        
            &:hover {
                color: rgb(52, 136, 111);
            }
        }
        
        & #thumbnail-title {
            width: 100%;
            text-align: center;
            font-weight: bolder;
            font-size: 140%;
            color: #57DFB7;
            margin-top: 0.5rem;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 20px;
        }
        
        & #thumbnail-duration-views{
            font-weight: lighter;
            font-size: 75%;
        }
    }
    
}

.pointer-cursor {
    cursor: pointer;
}

.grabbing-cursor {
    cursor: grabbing !important;
 }
