.container {
    @media only screen and (min-width: 900px) {
        padding: 0 10rem 0 10rem;
    }    
    margin-top: 5rem;
}

iframe {
    width: 100%;
    height: calc(100vw * 0.3);

    @media only screen and (max-width: 1200px) {
        height: calc(100vw * 0.52);
    }        
}

h1 {
    color: #57DFB7;
    text-align: center;
}