
<h3 style="margin-top: 1.5rem;">{{channel.name}}</h3>
<div *ngIf="videos" class="swiper-container" [swiper]="config" #lautaroSwiper (swiperTouchStart)="onTouchStart(lautaroSwiper)">
    <div class="swiper-wrapper">
        <div *ngFor="let video of videos" class="swiper-slide">
            <app-video-thumbnail
                [imgSize]="thumbnailSize"
                [videoId]="video.id"
                (click)="watchVideo(video.id)"
                ></app-video-thumbnail>
        </div>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div>