@use '../../../styles.scss';

h1 {
    color: #57DFB7;
}

.reproducir-btn {
    font-size: 15px;
    font-weight: bolder;
    padding: 0px 20px 0px 20px;
}

app-favorito {
    font-size: 30px;
}

#video-poster {
    position: -webkit-sticky;
    position: sticky;
    height: 470px;
    top: 0px;
    z-index: 0;
    & img {
        width: 100%;
        object-fit: cover;
    }
}

#video-details {
    padding-top: 15rem;
    position: absolute;
    top: 0px;
    background: styles.$background-color;
    background: linear-gradient(0deg, rgba(25,25,25,1) 10%, rgba(25,25,25,0) 100%);
    z-index: 1;
}

#back-ctrl {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.btn-back {
    // display: block;
    position: absolute;
    top: 100px;
    left: 1%;
    z-index: 3;
}

#tambien-podria-gustarte {
    position: relative;
    min-height: 400px;
    background-color: styles.$background-color;
}