@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font-stack:    'Roboto', sans-serif;
$background-color: #191919;

//color pallete:
$primary-color: #57DFB7;
$primary-color-hover: rgb(64, 172, 139);
$secondary-color: white;

$text-background: rgba(0, 0, 0, 0.4);
$text-background-hover:  rgba(0, 0, 0, 0.8);

body {
    font-family: $font-stack !important;
    color: white !important;
    background-color: $background-color !important;
}

.reproducir-btn {
    border: 1px solid $primary-color;
    border-radius: 50px;
    background-color: $primary-color;
    font-weight: bolder;
    transition-duration: 1000ms;
    &:hover {
        background-color: $primary-color-hover;
    }
}

.btn-back {
    z-index: 1;
    border: none;
    border-radius: 20px;
    padding: 8px 18px 8px 18px;
    background-color: $text-background;
    color: $secondary-color;
    font-size: medium;
    font-weight: bold;

    &:hover {
        background-color: $text-background-hover;
    }
}