.swiper-container {
    height: 360px;
  }

  .swiper-wrapper {
    padding: 20px 0;
  }

  .swiper-slide {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-color: black;
    transition: 250ms all;

    &:hover {
        transform: scale(1.2);
        z-index: 1;
    } 
  }

  #thumbnail-title {
    font-size: larger !important;
  }